// Presets

img {
    max-width: 100%;
}

// Positioning

body {
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;

    @include container;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding-top: 6em;

    header {
        nav {
            margin-top: 6em;
            ul,
            li {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            $icon-size: 25px;
            #social-nav {
                display: flex;
                gap: 1em;
                li {
                    width: $icon-size;
                }
                .icon {
                    height: $icon-size;
                    width: $icon-size;
                    display: block;
                    span {
                        display: none;
                    }
                }
                .icon-instagram {
                    mask: url("/img/instagram.svg") no-repeat center;
                }
                .icon-github {
                    mask: url("/img/github.svg") no-repeat center;
                }
                .icon-mastodon {
                    mask: url("/img/mastodon.svg") no-repeat center;
                }
                .icon-email {
                    mask: url("/img/envelope.svg") no-repeat center;
                }
            }
        }
    }

    main {
        font-size: 1.2em;
        p {
            text-align: left;
        }
    }
}

/* mobile layout */

@include respond-to(0, $desktop-break) {
    header,
    main {
        padding: 0 1em !important;
    }
}

/* tablet tweaks */
@include respond-to($tablet-break, $desktop-break) {
}

/* desktop layout */

@include respond-to($desktop-break) {
    header,
    main {
    }
}
