// Presets

img {
    max-width: 100%;
}

// Positioning

body {
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;

    display: grid;

    header {
        #main-nav-container {
            @include respond-to($desktop-break) {
                display: block !important;
            }
            @include respond-to(0, $desktop-break) {
                &.collapse:not(.show) {
                    display: none !important;
                }
            }
        }
        nav {
            ul,
            li {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            $icon-size: 25px;
            #social-nav {
                display: flex;
                gap: 1em;
                li {
                    width: $icon-size;
                }
                .icon {
                    height: $icon-size;
                    width: $icon-size;
                    display: block;
                    span {
                        display: none;
                    }
                }
                .icon-instagram {
                    mask: url("/img/instagram.svg") no-repeat center;
                }
                .icon-github {
                    mask: url("/img/github.svg") no-repeat center;
                }
                .icon-mastodon {
                    mask: url("/img/mastodon.svg") no-repeat center;
                }
                .icon-email {
                    mask: url("/img/envelope.svg") no-repeat center;
                }
            }
        }
    }

    main {
        font-size: 1.2em;
        p {
            text-align: left;
        }
    }
}

/* mobile layout */

@include respond-to(0, $desktop-break) {
    body {
        align-content: flex-start;
        gap: 2em;
    }
    header,
    main {
        padding: 0 1em;
    }
    header {
        padding-top: 1em;
        h1 {
            padding-right: 70px;
        }
    }
    nav.navbar {
        position: absolute;
        top: 1em;
        right: 1em;
        padding: 0;
        .navbar-toggler {
            position: relative;
            z-index: 5;
        }
        #main-nav-container {
            z-index: 4;
            position: fixed;
            top: 0;
            left: 0;
            background: #000;
            height: 100vh;
            width: 100vw;
            overflow-x: hidden;
            display: grid;
            align-items: center;
            justify-content: center;
            transition: height 0.01s !important;
            &.collapsing {
                height: 100vh !important;
                transition: height 0.01s !important;
            }
        }
    }
}

/* tablet tweaks */
@include respond-to($tablet-break, $desktop-break) {
}

/* desktop layout */

@include respond-to($desktop-break) {
    body {
        @include container;
        padding-top: 6em;
        grid-template-columns: 1fr 1.5fr;
    }
    nav {
        margin-top: 6em;
    }
}
