// Positioning

/* mobile layout */

@include respond-to(0, $desktop-break) {

    #self {
        text-align: center;
        img {
            max-width: 200px;
            border-radius: 50%;
        }
        margin: 0 auto 2em auto;
    }
}

/* desktop layout */

@include respond-to($desktop-break) {

    #self {
        img {
            max-width: 200px;
            border-radius: 50%;
        }
        float: right;
        margin: 0 0 0.5em 1em;
    }
}
