// Positioning


#self {
    img {
        max-width: 200px;
        border-radius: 50%;
    }
    float: right;
    margin: 0 0 0.5em 1em;
}

/* mobile layout */

@include respond-to(0, $desktop-break) {

}


/* desktop layout */

@include respond-to($desktop-break) {

}