// Positioning

.resume {
    strong {
        color: lighten($color-text, 10%);
    }
    section {
        margin-bottom: 3em;
    }
    #skills {
    }
    #experience, #education {
        ul:not(.job-notes) {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                margin-bottom: 2em;
            }
            li ul {
                list-style-type: disc;
                li {
                    margin-bottom: 0;
                }
            }
        }
        .job-title {
            font-weight: 900;
            &:after {
                content: ',';
            }
        }
        .job-company {
            font-style: italic;
            font-weight: 100;
        }
        .job-duration {
            font-size: 0.9em;
        }
    }
}

/* mobile layout */

@include respond-to(0, $desktop-break) {
}

/* desktop layout */

@include respond-to($desktop-break) {
}
