$color-white: #f6f6f6;
$color-whitest: #fff;
$color-black: #222;
$color-blackest: #000;

/* grid */
$color-1d1a: #6e9f6c;
$color-1d2a: #5c8a71;
$color-1d3a: #598367;
$color-1d4a: #5c8569;
$color-1d5a: #557a58;

$color-2d1a: #557a58;
$color-2d2a: #31587e;
$color-2d3a: #2f5173;
$color-2d4a: #315476;
$color-2d5a: #2b4865;

$color-3d1a: #3f5e5f;
$color-3d2a: #2c4965;
$color-3d3a: #2a425a;
$color-3d4a: #2c445d;
$color-3d5a: #26394c;

$color-4d1a: #436466;
$color-4d2a: #314e6b;
$color-4d3a: #2f4860;
$color-4d4a: #314a63;
$color-4d5a: #2b3e52;

$color-5d1a: #35483f;
$color-5d2a: #223344;
$color-5d3a: #202c39;
$color-5d4a: #222f3c;
$color-5d5a: #1c232b;

/* settings */

$color-bg: $color-whitest;

$color-text: $color-1d1a;
$color-header: $color-1d1a;
$color-subheader: lighten($color-4d1a, 20%);

$color-link: lighten($color-1d1a, 20%);
$color-hover: $color-1d1a;

$color-border: $color-black;

/* base colors */

body {
    color: $color-text;
    background-color: $color-5d5a;
    background-image: linear-gradient(
        130deg,
        hsl(212deg 21% 14%) 0%,
        hsl(188deg 25% 18%) 79%,
        hsl(152deg 15% 25%) 100%
    );
}

h1,
#sub-h1 {
    color: $color-whitest;
}

h2 {
    color: lighten($color-subheader, 15%);
}
h3 {
    color: $color-subheader;
}

h4,
h5,
h6, .job-duration {
    color: lighten($color-text, 25%);
}

a {
    color: $color-link;
    &:hover {
        color: $color-hover;
    }
}
.icon {
    background: $color-link;
    &:hover {
        background: $color-hover;
    }
}
