/* Media Queries */

// Media Queries - Standard
$mq-xs-min: 320px;
$mq-sm-min: 400px;
$mq-sm-max: 480px;
$mq-md-min: 481px;
$mq-md-med: 550px;
$mq-md-max: 768px;
$mq-lg-min: 769px;
$mq-lg-max: 1024px;
$mq-xl-min: 1025px;
$mq-xl-med: 1200px;
$mq-max-grid: 1280px;
$mq-xl-max: 1600px;

// MEDIA QUERIES
$media-queries: true !default;
$media-query-free-breakpoint: 900px;

@mixin respond-to($min-width, $max-width: false) {
    @if $media-queries {
        @media screen and (min-width: $min-width) {
            @if $max-width {
                @media (max-width: $max-width) {
                    @content;
                }
            } @else {
                @content;
            }
        }
    } @else if
        $min-width <=
        $media-query-free-breakpoint and
        (not $max-width or $max-width and $max-width >= $media-query-free-breakpoint)
    {
        @content;
    }
}

// sizes

$desktop-break: $mq-xl-min;
$tablet-break: $mq-md-med;

@include respond-to(0, $desktop-break) {
    .mobile-only {
        display: block !important;
    }
    .mobile-only-grid {
        display: grid !important;
    }
    .desktop-only,
    .desktop-only-grid {
        display: none !important;
    }
}
@include respond-to($desktop-break) {
    .mobile-only,
    .mobile-only-grid {
        display: none !important;
    }
    .desktop-only {
        display: block !important;
    }
    .desktop-only-grid {
        display: grid !important;
    }
}
