@mixin nav-item-default-state {
    text-decoration: underline !important;
    text-decoration-thickness: 10%;
    font-weight: 500;
    font-size: 1.5em;
    transition-duration: 50ms;
    &::before {
        content: "";
        width: 1.5em;
        margin-left: -1.4em;
        display: inline-block;
    }
}

@mixin nav-item-hover-state {
    letter-spacing: 0.05em;
}

@mixin nav-item-active-state {
    font-weight: 900;
    text-decoration: none !important;
    letter-spacing: 0.05em;
    color: $color-hover;
    &::before {
        content: "– ";
        width: 1.5em;
        display: inline-block;
    }
}

nav {
    a {
        @include nav-item-default-state;
    }
    a:hover,
    a:focus,
    a:active {
        @include nav-item-hover-state;
    }
    &.active a {
        @include nav-item-active-state;
    }
    body.about & .nav-about a,
    body.projects & .nav-projects a,
    body.resume & .nav-resume a,
    body.other & .nav-other a {
        @include nav-item-active-state;
    }
}
